@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.4;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo img{
    width: 140px;
    height: auto;
}
.center-navbar{
    display: flex;
}
.search{
    display: flex;
}
.search input{
    width: 600px;
    padding: 10px 20px;
    border: 0.5px solid #ccc;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    font-size: 18px;
}
.search  button{
    border: none;
    padding: 10px 20px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.voice{
    padding: 15px;
    border-radius: 50%;
    background: rgba(240,239,239);
    display: grid;
    place-items: center;
    margin-left: 15px;
}
.side-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-right: 50px;
}
.tags{
    display: flex;
    padding: 10px 20px;
    gap: 15px;
    
}
.tag{
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid rgb(22,22,22);
}
.dark{
    background: #000;
    color: white;
}
.light{
    background: rgb(238,238,238);
    color: rgb(67,67,67);
    transition: 0.3s ease-in-out;
}
.light:hover{
    background: rgb(215, 212, 212);
    transition: 0.3s ease-in-out;
}
.container{
    display: flex;
}
aside{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.sides{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sides img {
    width: 30px;
}
.sides p{
    font-size: 10px;
    margin-top: -5px;
}
.bars{
    margin-top: 20px;
}
.another{
    width: 100%;
}
main {
    min-height: 100vh;
    background: rgb(240,238,238);
  }
  
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
  .card {
    padding: 10px;
    max-width: 320px;
    display: flex;
    flex-direction: column;
  }
  .avatar-content {
    padding-top: 10px;
    display: flex;
    gap: 5px;
  }
  .card h3 {
    font-size: 20px;
  }
  .content{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .channel-name{
    font-size: 16px;
    font-weight: bold;
  }
  .content-status{
    display: flex;
    font-size: 14px;
    gap: 10px;
  }